.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #013914;
    color: #fff;
    transition: 0.25s all ease;
    position: sticky;
    top: 0;
    z-index: 99999;

    &.active{
        background-color: white;
        color: rgb(0, 0, 0);
    }

    .container{
        width: 1401px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 21px 0px;
        margin: 0px 100px;

        .logo{
            font-weight: bold;
            font-weight: 500;
            font-size: 35px;
            text-align: center;

            .text{}

            .dot{
                color: #1dbf73;
            }
        }

        .links{
            display: flex;
            gap: 25px;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
            
            .user{
                position: relative;
                display: flex;
                align-items: center;
                gap: 11px;
                cursor: pointer;

                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                    align-items: center;
                }

                .option{
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 20px;
                    background-color: #fff;
                    border-radius: 11px;
                    border: 1px solid lightgray;
                    gap: 11px;
                    flex-direction: column;
                    display: flex;
                    color: #ccc;
                    width: 130px;
                    font-weight: 300;
                }
            }
            button{
                color: #fff;
                padding: 11px 22px;
                border: 1px solid #fff;
                border-radius: 5px;
                cursor: pointer;
                background-color: transparent;

                &:hover{
                    background-color: #1dbf73;
                    border-color: #1dbf73;
                }
            }
        }
    }

    hr {
        width: calc(100% - 2px);
        height: 0;
        border-top: 0.5px solid #ebe9e9;
        border-bottom: 0.5px solid #ebe9e9;
      }
    

    .menu{
        width: 1400px;
        padding: 11px 0px;
        display: flex;
        justify-content: space-between;
        color: gray;
        font-weight: 300;
        font-family: "Montserrat", sans-serif;

    }
} 